[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
pillow = "*"
selenium = "*"
django-extensions = "*"
pydotplus = "*"
ipython = "*"
werkzeug = "*"
pyparsing = "*"
pydot = "*"
django-webpack-loader = "*"
django-tables2 = "*"
django-filter = "*"
django-widget-tweaks = "*"
factory-boy = "*"
djangorestframework = "*"
channels = "*"
channels-redis = "*"
weasyprint = "*"
aioredis = "*"
aiohttp = "*"
whitenoise = "*"
django-environ = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
